---
import GitHub from "../icons/GitHub"
---

<nav class="flex flex-wrap items-center justify-between text-white text-xl p-4 lg:p-5 mx-4 lg:mx-16 my-6 rounded-xl bg-zinc-900/20 backdrop-blur-sm border border-zinc-800/50">
    <div class="flex items-center gap-2 lg:gap-3">
        <img class="w-12 lg:w-14" src="/icon.png" alt="Logo">
        <span class="text-left text-base lg:text-md">
            Extensions
            <br>
            Marketplace
        </span>
    </div>
    <a href="https://github.com/GaboGabito05/extension-marketplace-app" target="_blank" class="flex items-center gap-2 p-4 lg:px-5 lg:py-2.5 bg-gradient-to-r from-[#00bf63] to-[#15193e] rounded-xl text-xl transition-all duration-300 hover:from-[#00d973] hover:to-[#1a1f4a] hover:scale-[1.02] hover:shadow-lg hover:shadow-[#00bf63]/20">
        <GitHub />
        <span class="hidden md:inline">
            Repositorio
        </span>
    </a>
</nav>