<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/icon.png" />
		<meta name="generator" content={Astro.generator} />
		<!-- Primary Meta Tags -->
		<meta name="title" content="Extension Marketplace | API RESTful" />
		<meta name="description" content="Marketplace de Extensiones de Google Chrome inspirado en un reto de Frontend Mentor con el agregado de una interfaz con Astro y React ademas de una API en Go." />
		<!-- Open Graph / Facebook -->
		<meta property="og:type" content="website" />
		<meta property="og:url" content="https://extension-marketplace-app.pages.dev/" />
		<meta property="og:title" content="Extension Marketplace | API RESTful" />
		<meta property="og:description" content="Marketplace de Extensiones de Google Chrome inspirado en un reto de Frontend Mentor con el agregado de una interfaz con Astro y React ademas de una API en Go." />
		<meta property="og:image" content="https://i.imgur.com/IfzSiae.png" />
		<!-- Twitter -->
		<meta property="twitter:card" content="summary_large_image" />
		<meta property="twitter:url" content="https://extension-marketplace-app.pages.dev/" />
		<meta property="twitter:title" content="Extension Marketplace | API RESTful" />
		<meta property="twitter:description" content="Marketplace de Extensiones de Google Chrome inspirado en un reto de Frontend Mentor con el agregado de una interfaz con Astro y React ademas de una API en Go." />
		<meta property="twitter:image" content="https://i.imgur.com/IfzSiae.png" />
		<!-- Meta Tags Generated with https://metatags.io -->
		<title>Extension Marketplace | API RESTful</title>
	</head>
	<body class="bg-neutral-900">
		<slot />
	</body>
</html>

<style>
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
		font-family: "Noto Sans", sans-serif;
		scroll-behavior: smooth;
	}
</style>
